.tag {
  font-weight: bold;
  color: #fff;
  font-size: 0.85rem;
  border-radius: 2px;
  display: inline;
  padding: 0.4rem 0.65rem;
}

.normal {
    background-color: #a9a878;
  }
  .fight {
    background-color: #c12f29;
  }
  .flying {
    background-color: #98a4e0;
  }
  .poison {
    background-color: #bb5a9f;
  }
  .ground {
    background-color: #e7d4a9;
  }
  .rock {
    background-color: #bea664;
  }
  .bug {
    background-color:#a9bd42;
  }
  .ghost {
    background-color: #6762b3;
  }
  .steel {
    background-color: #afadc3;
  }
  .fire {
    background-color: #ed4434;
  }
  .water {
    background-color: #2d93f7;
  }
  .grass {
    background-color: #74d76a;
  }
  .electric {
    background-color: #f8c446;
  }
  .psychic {
    background-color: #ee6da0;
  }
  .ice {
    background-color: #57d0e4;
  }
  .dragon {
    background-color: #8567ed;
  }
  .dark {
    background-color: #775b4f;
  }
  .fairy {
    background-color: #f3b5f2;
  }
