:root{
    --secondary-color-ligth: #7ed56f;
    --secondary-color-dark: #28b485;
    --text-gray: rgba($color: #000000, $alpha: .45);
    --ligth-gray: #5C636926;
    --dark-gray: rgba(0, 0, 0, 0.7);

    --font-normal: 1.35rem;
}