.character{
    &-card{
        background-color: #fff;
        border: 1px solid #5C636926;
        padding: 1.5rem;
        width: 100%;
        height: auto;
        min-height: 20rem;
        border-radius: 5px;
        position: relative;
        text-align: center;
        display: grid;
        grid-template-rows: 2fr min-content min-content;
        align-items: center;
        grid-row-gap: 1rem;
        cursor: pointer;
        transition: box-shadow .42s;

        &:hover{
            box-shadow: 1px 1px 10px 4px rgba($color: #000000, $alpha: .20);
        }
    }

    &-image{
        width: 100%;
        height: auto;
        max-height: 8rem;
        object-fit: contain;
    }
}

.cover{
    display: flex;
    align-items: center;
    justify-content: center;
    

    svg{
        width: 10rem;
        height: 10rem;
    }
}